[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

drawille = "*"
"wiringpi2" = "*"
requests = "*"
Flask = "*"
picamera = "*"
numpy = "*"


[requires]

python_version = "3.4"


[dev-packages]

