[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pudb = "*"
pytest = "*"


[packages]

drawille = "*"
wiringpi = "*"
"wiringpi2" = "*"
picamera = "*"
numpy = "*"
"cv2" = "*"
requests = "*"
Flask = "*"
