<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
  <title>gr4dalek flask web</title>
  <meta name="description" content="Talkingraspi interface">
  <meta name="author" content="Eren Golge">
  <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  <link rel="stylesheet" href='/static/style.css' />
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script>
    $(document).ready(function(){
      $("#start_button").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/start",
                data: {},
                success:function(result){
          $("#start_button").html(result);
        }});
      });
    });
    
    $(document).ready(function(){
      $("#test_button").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/test",
                data: {},
                success:function(result){
          $("#test_button").html(result);
        }});
      });
    });
    
    $(document).ready(function(){
      $("#stop_button").click(function(e){
          e.preventDefault();
        $.ajax({type: "POST",
                url: "/stop",
                data: {},
                success:function(result){
          $("#stop_button").html(result);
        }});
      });

        /*
        // autorefresher
      (function worker() {
         $.ajax({
           url: '/status', 
           success: function(data) {
             $('#status_bar').html(data);
           },
           complete: function() {
             // Schedule the next request when the current one's complete
             setTimeout(worker, 5000);
           }
         });

      })();
      */

    });
    </script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    </head>

  <body>
    <script src="js/scripts.js"></script>

    <img id="bg" src="{{ url_for('video_feed') }}" alt="CORRECT">

  <h1>Howdee pardner!</h1>
  <span id="status_bar"></span>
  </br>
  </br>
  <button id="start_button">Start Talkingraspi</button>
  <button id="stop_button">Stop Talkingraspi</button>
  <button id="test_button">TEST!</button>
  <br>
  <img src="{{ stream_image_path }}" alt="stream image">
  <br>
  <img class="bg" src="{{ static_image_path }}" alt="static image">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


  </body>
</html>
